@media (max-width: 1399.98px) {
    .header .top-header .search-bar {
        max-width: 650px;
    }
    .owl-theme .owl-nav .owl-prev,
    .owl-theme .owl-nav .owl-next{
        left: -10px;
    }

    .owl-theme .owl-nav .owl-next{
        right: -10px;
        left: auto;
    }
}

@media (max-width: 1199.98px) {
    body{
        font-size: 14px;
    }

    h1{
        font-size: 45px;
        margin-bottom: 25px;
    }

    h2{
        font-size: 25px;
    }

    h3{
        font-size: 18px;
    }

    .heading-section{
        margin-bottom: 40px;
    }

    .header .top-header .search-bar{
        max-width: 400px;
    }

    .banner{
        margin-bottom: 30px;
    }

    .featured{
        padding: 30px 0;
    }

    .discover{
        padding: 30px 0 80px;
    }

    .discover .badge.bg-primary{
        padding: 8px 14px;
    }

    .discover .discover-inner {
        margin-left: 20px;
    }

    .discover .discover-section {
        margin-bottom: 30px;
    }

    .get-rewarded .banner-section h2{
        font-size: 40px;
        margin-bottom: 25px;
    }

    .get-money .app-btn img{
        max-width: 120px;
    }

    .join-now .container {
        padding: 0 80px;
    }

    .featured.featured-travel{
        padding-bottom: 0px;
    }

    .earn-while{
        margin-top: 30px;
    }

    .earn-while .banner-section{
        max-width: 265px;
    }

    .earn-while .banner-section h2{
        font-size: 40px;
    }

    .earn-while .banner-section h3{
        font-size: 20px;
    }

    .earn-while .item{
        padding: 40px 0 30px;
    }

    .featured.gift-cards{
        padding-bottom: 50px;
    }

    .feedback .heading-section {
        margin-bottom: 20px;
    }

    .feedback .feedback-inner{
        padding: 30px;
    }
}

@media (max-width: 991.98px) {
    .btn-custom{
        padding: 12px 15px;
    }

    h1{
        font-size: 30px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 22px;
        margin-bottom: 12px;
    }

    .user-profile {
        width: 40px;
        height: 40px;
    }

    .header .top-header a.logo img {
        max-width: 100px;
    }

    .header .top-header .search-bar {
        max-width: 300px;
    }

    .header .dropdown-menu-open{
        top: 139px;
    }

    .featured .featured-inner p{
        margin-top: 8px;
        font-size: 14px;
    }

    .discover {
        padding: 10px 0 50px;
    }

    .discover img.position-absolute{
        max-width: 70px;
    }

    .get-rewarded .banner-section h2{
        font-size: 25px;
        margin-bottom: 20px;
    }

    .join-now .container{
        padding: 0 12px;
    }

    .earn-while .banner-section h2{
        font-size: 30px;
    }

    .earn-while .item{
        padding: 25px 0;
    }

    .unlock-instant h2 {
        font-size: 40px;
    }

    footer.footer .newsletter p, footer.footer .newsletter h2 {
        margin-bottom: 20px;
    }

    footer.footer .footer-inner{
        padding: 30px 0;
    }

    footer.footer .footer-inner .logo {
        margin-bottom: 25px;
    }

    footer.footer .footer-inner .first-footer{
        padding-bottom: 30px;
    }

    footer.footer .copyright {
        padding-top: 60px;
    }

    footer.footer{
        padding-bottom: 20px;
    }

}

@media (max-width: 767.98px) {
    h2{
        font-size: 18px;
    }

    h3{
        font-size: 13px;
    }

    .heading-section {
        margin-bottom: 25px;
    }

    .badge.bg-primary{
        font-size: 10px;
        padding: 4px 8px;
    }

    .btn-custom {
        padding: 8px 12px;
    }

    .form-control{
        padding: 10px 18px;
        border-radius: 6px;
    }

    .header .top-header a.logo img {
        max-width: 50px;
    }

    .header .top-header .search-bar .form-control{
        padding: 8px 15px 8px 40px;
    }

    .dropdown.dropdown_profile_custom .dropdown-toggle{
        width: 35px;
        height: 35px;
        padding: 0;
    }

    .menu-icon-svg{
        fill: #fff;
        width: 20px;
        height: 20px;
    }

    .dropdown_profile_custom .dropdown-toggle.show .menu-icon-svg,
    .dropdown_profile_custom .dropdown-toggle:hover .menu-icon-svg{
        fill: #268DE7;
    }

    .user-profile {
        display: none;
    }

    .banner{
        margin-bottom: 10px;
    }

    .featured .badge.bg-primary {
        margin: 8px 8px 0 0;
    }

    .earn-while .banner-section{
        max-width: 100%;
    }

    .earn-while .banner-section h2{
        font-size: 25px;
    }

    .discover .badge.bg-primary {
        padding: 6px 10px;
        font-size: 12px;
    }

    .discover .discover-inner {
        margin-left: 15px;
    }

    .discover .discover-section {
        margin-bottom: 20px;
    }

    .discover .col-md-5{
        order: 2;
        padding-top: 25px;
    }

    .discover img.position-absolute {
        max-width: 50px;
    }

    .join-now {
        padding: 25px 0 0;
    }

    .join-now.get-money .col-md-5.text-center{
        order: 2;
    }

    .get-money .get-money-inner form{
        margin-bottom: 20px;
    }

    .get-money .get-money-inner form a {
        margin-top: 10px;
    }

    .get-money img.qr-img {
        max-width: 100px;
    }

    .feedback .feedback-inner {
        padding: 20px;
        margin: 25px 12px;
    }

    .feedback .feedback-inner img {
        max-width: 25px;
    }

    .feedback .feedback-inner p{
        margin-top: 10px !important;
    }

    .feedback{
        padding: 50px 0px 20px;
    }

    .featured.featured-travel{
        padding-top: 20px;
    }

    .featured .featured-inner h3{
        line-height: 15px;
    }

    .featured .featured-inner{
        margin-bottom: 15px;
    }
    .unlock-instant{
        padding: 30px 0;
    }

    .unlock-instant h2 {
        font-size: 25px;
    }

    .last-des{
        font-size: 12px;
    }

    footer.footer .footer-inner .logo img {
        max-width: 100px;
    }

    footer.footer .newsletter p, footer.footer .newsletter h2 {
        margin-bottom: 15px;
    }

    footer.footer .newsletter .form-control{
        padding: 10px 20px;
    }

    footer.footer .newsletter .btn-custom {
        padding: 10px 15px;
    }

    footer.footer .newsletter{
        margin-bottom: 25px;
    }

    footer.footer .footer-inner{
        padding: 25px 0;
    }

    footer.footer .copyright {
        padding-top: 30px;
    }

    footer.footer h3{
        margin-bottom: 15px;
    }

    .owl-theme .owl-nav button {
        width: 30px;
        height: 30px;
    }

    .owl-theme .owl-nav .owl-prev,
    .owl-theme .owl-nav .owl-next{
        left: -10px;
    }

    .owl-theme .owl-nav .owl-next{
        right: -10px;
        left: auto;
    }
}

@media (max-width: 575.98px) {
    .dropdown_profile_custom .dropdown-menu.show{
        min-width: 310px;
    }

    .dropdown_profile_custom h2.user-name{
        font-size: 18px;
        padding: 15px 10px;
    }

    .dropdown_profile_custom .cashback-card {
        margin: 0 10px;
    }

    .dropdown_profile_custom .dropdown-item {
        padding: 8px 10px;
    }

    .card-amount p{
        font-size: 12px;
    }
}
