@media (max-width: 1399.98px) {
    .header .top-header .search-bar {
        max-width: 650px;
    }
    .owl-theme .owl-nav .owl-prev,
    .owl-theme .owl-nav .owl-next{
        left: -10px;
    }

    .owl-theme .owl-nav .owl-next{
        right: -10px;
        left: auto;
    }

    .shops-baner img {
        max-width: 780px;
    }

    .shops-baner h1 {
        font-size: 46px;
    }    
}

@media (max-width: 1199.98px) {
    body{
        font-size: 14px;
    }

    h1{
        font-size: 45px;
        margin-bottom: 25px;
    }

    h2{
        font-size: 25px;
    }

    h3{
        font-size: 18px;
    }

    .heading-section{
        margin-bottom: 40px;
    }

    .header .top-header .search-bar{
        max-width: 400px;
    }

    .banner{
        margin-bottom: 30px;
    }

    .featured{
        padding: 30px 0;
    }

    .discover{
        padding: 30px 0 80px;
    }

    .discover .badge.bg-primary{
        padding: 8px 14px;
    }

    .discover .discover-inner {
        margin-left: 20px;
    }

    .discover .discover-section {
        margin-bottom: 30px;
    }

    .get-rewarded .banner-section h2{
        font-size: 40px;
        margin-bottom: 25px;
    }

    .get-money .app-btn img{
        max-width: 120px;
    }

    .join-now .container {
        padding: 0 80px;
    }

    .featured.featured-travel{
        padding-bottom: 0px;
    }

    .earn-while{
        margin-top: 30px;
    }

    .earn-while .banner-section{
        max-width: 265px;
    }

    .earn-while .banner-section h2{
        font-size: 40px;
    }

    .earn-while .banner-section h3{
        font-size: 20px;
    }

    .earn-while .item{
        padding: 40px 0 30px;
    }

    .featured.gift-cards{
        padding-bottom: 50px;
    }

    .feedback .heading-section {
        margin-bottom: 20px;
    }

    .feedback .feedback-inner{
        padding: 30px;
    }

    .shops-baner img {
        max-width: 630px;
    }

    .shops-baner {
        padding: 45px 0;
    }

    .shops-baner h1 {
        font-size: 35px;
    }

    .shops-baner .btn-custom {
        margin: 20px 0 14px;
    }

    .all-stores .search-bar input{
        padding: 12px 25px;
    }

    .all-stores .shop-page .col-md-9 {
        padding-left: 20px;
    }

    .pagination {
        padding-top: 60px;
    }

    .pagination .page-link{
        width: 54px;
        height: 54px;
    }

    .all-stores {
        padding-bottom: 60px;
    }
    .gift-cards-details{
        padding: 30px 0;
    }

    .gift-cards-details .gift-description-details, .gift-cards-details .gift-card-design{
        padding-left: 30px;
    }

    .gift-cards-details .gift-card-design .rating {
        padding: 10px 0 20px;
        margin-bottom: 20px;
    }

    .gift-cards-details h5{
        font-size: 20px;
        margin-bottom: 14px;
    }

    .gift-cards-details .gift-description {
        margin-top: 30px;
    }

    .thumbnail-img{
        margin-top: 15px;
    }

    .gift-cards-details .gray-btn .btn-custom{
        padding: 12px;
    }

    .how-it-works .how-it-works-inner{
        margin: 0;
    }
}

@media (max-width: 991.98px) {
    .btn-custom{
        padding: 12px 15px;
    }

    h1{
        font-size: 30px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 22px;
        margin-bottom: 12px;
    }

    .user-profile {
        width: 40px;
        height: 40px;
    }

    .header .top-header a.logo img {
        max-width: 100px;
    }

    .header .top-header .search-bar {
        max-width: 300px;
    }

    .header .dropdown-menu-open{
        top: 139px;
    }

    .featured .featured-inner p{
        margin-top: 8px;
        font-size: 14px;
    }

    .discover {
        padding: 10px 0 50px;
    }

    .discover img.position-absolute{
        max-width: 70px;
    }

    .get-rewarded .banner-section h2{
        font-size: 25px;
        margin-bottom: 20px;
    }

    .join-now .container{
        padding: 0 12px;
    }

    .earn-while .banner-section h2{
        font-size: 30px;
    }

    .earn-while .item{
        padding: 25px 0;
    }

    .unlock-instant h2 {
        font-size: 40px;
    }

    .about-us {
        padding: 40px 0 0;
    }

    .timeline-section {
        padding: 70px 0 30px;
    }

    .banner-about .about-heading {
        max-width: 450px;
    }

    .banner-about .about-heading h2 {
        font-size: 40px;
        margin-bottom: 25px;
    }

    .banner-about{
        padding: 150px 0 50px;
        border-radius: 30px;
    }

    .timeline .timeline-left, .timeline .timeline-right {
        padding: 30px 0;
    }

    .timeline .row.timeline-right .timeline-date{
        padding-right: 30px;
    }

    .timeline .row.timeline-left .timeline-date{
        padding-left: 30px;
    }

    .timeline .timeline-date {
        font-size: 25px;
    }

    .timeline .timeline-text h3{
        font-size: 20px;
        margin-bottom: 10px;
    }

    .timeline .timeline-continue::after{
        height: calc(100% - 110px);
    }

    .shops-baner img {
        max-width: 100%;
        width: 100%;
    }

    .all-stores .search-bar input {
        max-width: 400px;
    }

    .all-stores .featured .badge.bg-primary {
        margin: 6px 6px 0 0;
        padding: 2px 5px;
    }

    .all-stores .shop-page .col-md-9 {
        padding-left: 12px;
    }

    .all-stores .featured .featured-inner h3 {
        font-size: 16px;
        line-height: 18px;
    }

    .shops-baner img{
        position: relative !important;
        transform:none !important
    }

    .marketplaces-banner .heading-section{
        padding-left: 0;
    }

    .gift-cards-details .gift-description-details, .gift-cards-details .gift-card-design {
        padding-left: 12px;
    }

    .gift-cards-details .gift-card-design .rating img {
        max-width: 20px;
    }

    .thumbnail-img{
        padding: 5px;
    }

    .box-bg{
        font-size: 14px;
        padding: 20px 30px;
    }

    .gift-cards-details .submit-btn {
        margin-top: 20px;
    }

    .featured .featured-inner .col-md-5 .position-relative,
    .featured .featured-inner .col-5 .position-relative{
        min-height: 100px;
    }

    .new-customers{
        padding: 60px 0 25px;
    }

    .new-customers h2{
        margin-bottom: 25px;
    }

    .advertise-about a{
        margin-top: 25px;
    }

    .advertise-join h2 {
        font-size: 30px;
    }

    .advertise-join p {
        font-size: 16px;
        margin-bottom: 25px;
    }

    .advertise-join .banner-section {
        max-width: 400px;
    }

    .new-customers p,
    .advertise-about p{
        font-size: 16px;
    }

    .company-details h2.heading,
    .how-it-works h2.heading {
        font-size: 35px;
        margin-bottom: 50px;
    }

    .company-details .form-heading-margin h2.heading{
        margin-bottom: 12px;
    }

    .company-details .form-heading-margin{
        margin-bottom: 50px;
        font-size: 35px;
    }

    .company-details .form-heading-margin h2{
        margin-bottom: 50px;
    }

    .how-it-works .how-it-works-inner img{
        max-width: 100px;
    }

    .how-it-works .how-it-works-bottom {
        margin-top: 70px;
    }

    .how-it-works .how-it-works-bottom img{
        left: 0;
    }

    .how-it-works .how-it-works-inner{
        padding: 25px 15px;
    }

    .how-it-works .how-it-works-inner p{
        font-size: 14px;
    }

    .how-it-works .how-it-works-inner h2 {
        margin: 20px 0 15px;
    }

    .how-it-works .how-it-works-bottom a{
        margin-top: 20px;
    }

    .customer-img > img {
        height: 350px;
    }

    footer.footer .newsletter p, footer.footer .newsletter h2 {
        margin-bottom: 20px;
    }

    footer.footer .footer-inner{
        padding: 30px 0;
    }

    footer.footer .footer-inner .logo {
        margin-bottom: 25px;
    }

    footer.footer .footer-inner .first-footer{
        padding-bottom: 30px;
    }

    footer.footer .copyright {
        padding-top: 60px;
    }

    footer.footer{
        padding-bottom: 20px;
    }

}

@media (max-width: 767.98px) {
    h2{
        font-size: 18px;
    }

    h3{
        font-size: 13px;
    }

    .heading-section {
        margin-bottom: 25px;
    }

    .badge.bg-primary{
        font-size: 10px;
        padding: 4px 8px;
    }

    .btn-custom {
        padding: 8px 12px;
    }

    .form-control{
        padding: 10px 18px;
        border-radius: 6px;
    }

    .header .top-header a.logo img {
        max-width: 50px;
    }

    .header .top-header .search-bar .form-control{
        padding: 8px 15px 8px 40px;
    }

    .dropdown.dropdown_profile_custom .dropdown-toggle{
        width: 35px;
        height: 35px;
        padding: 0;
    }

    .menu-icon-svg{
        fill: #fff;
        width: 20px;
        height: 20px;
    }

    .dropdown_profile_custom .dropdown-toggle.show .menu-icon-svg,
    .dropdown_profile_custom .dropdown-toggle:hover .menu-icon-svg{
        fill: #268DE7;
    }

    .user-profile {
        display: none;
    }

    .banner{
        margin-bottom: 10px;
    }

    .featured .badge.bg-primary {
        margin: 8px 8px 0 0;
    }

    .earn-while .banner-section{
        max-width: 100%;
    }

    .earn-while .banner-section h2{
        font-size: 25px;
    }

    .discover .badge.bg-primary {
        padding: 6px 10px;
        font-size: 12px;
    }

    .discover .discover-inner {
        margin-left: 15px;
    }

    .discover .discover-section {
        margin-bottom: 20px;
    }

    .discover .col-md-5{
        order: 2;
        padding-top: 25px;
    }

    .discover img.position-absolute {
        max-width: 50px;
    }

    .join-now {
        padding: 25px 0 0;
    }

    .join-now.get-money .col-md-5.text-center{
        order: 2;
    }

    .get-money .get-money-inner form{
        margin-bottom: 20px;
    }

    .get-money .get-money-inner form a {
        margin-top: 10px;
    }

    .get-money img.qr-img {
        max-width: 100px;
    }

    .feedback .feedback-inner {
        padding: 20px;
        margin: 25px 12px;
    }

    .feedback .feedback-inner img {
        max-width: 25px;
    }

    .feedback .feedback-inner p{
        margin-top: 10px !important;
    }

    .feedback{
        padding: 50px 0px 20px;
    }

    .featured.featured-travel{
        padding-top: 20px;
    }

    .featured .featured-inner h3{
        line-height: 15px;
    }

    .featured .featured-inner{
        margin-bottom: 15px;
    }
    .unlock-instant{
        padding: 30px 0;
    }

    .unlock-instant h2 {
        font-size: 25px;
    }

    .last-des{
        font-size: 12px;
    }

    .banner-about {
        padding: 100px 0 20px;
        border-radius: 20px;
    }

    .banner-about .about-heading h2 {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .banner-about .about-heading p br {
        display: none;
    }

    .timeline-section {
        padding: 50px 0 20px;
    }

    .timeline .timeline-continue::after{
        left: -3px;
        margin-left: 0;
        height: 100%;
    }

    .timeline .timeline-continue{
        padding-top: 20px;
    }

    .timeline .row.timeline-right .timeline-date::after {
        right: auto;
        left: -10px;
    }

    .timeline .row.timeline-left .timeline-date,
    .timeline .row.timeline-right .timeline-date {
        padding-right: 0;
        text-align: left;
        padding-left: 20px;
        font-size: 18px;
    }

    .timeline .timeline-left .timeline-box::before, .timeline .timeline-right .timeline-box::before,
    .timeline .timeline-left .timeline-box::after, .timeline .timeline-right .timeline-box::after{
        display: none;
    }

    .timeline .timeline-date::after{
        width: 15px;
        height: 15px;
        top: 5px;
    }

    .timeline .timeline-right .timeline-box .timeline-text {
        max-width: 100%;
        padding-left: 20px;
    }


    .timeline .timeline-text h3 {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .timeline .timeline-left .timeline-box .timeline-text {
        max-width: 100%;
        text-align: left;
        padding-left: 20px;
        padding-right: 0;
    }

    .timeline .row.timeline-left {
        flex-direction: column-reverse;
    }


    .timeline .row.timeline-left .timeline-date::after {
        left: -10px;
    }

    .shops-baner {
        padding: 25px 0 45px;
    }

    .shops-baner h5{
        font-size: 18px;
    }

    .shops-baner .heading-section{
        margin: 0;
    }

    .shops-baner h1 {
        font-size: 25px;
    }

    .all-stores .search-bar input {
        max-width: 100%;
    }

    .all-stores .shop-list li {
        padding: 12px 0;
    }

    .pagination {
        padding-top: 30px;
    }

    .all-stores {
        padding-bottom: 30px;
    }

    .all-stores .shop-page {
        margin-top: 25px;
    }

    .pagination .page-link {
        width: 40px;
        height: 40px;
        font-size: 14px;
    }

    .marketplaces-banner{
        padding-bottom: 30px;
    }

    .marketplaces-banner .market-row{
        border-radius: 12px;
        padding: 15px;
    }

    .marketplaces-banner p.fw-medium{
        padding-top: 8px;
    }

    .marketplaces-banner .btn-custom {
        margin: 10px 0;
    }

    .marketplaces-banner img{
        margin-top: 12px;
    }

    .marketplaces-flash h2 {
        margin-bottom: 15px;
    }

    .marketplaces-flash .featured-inner p.des {
        font-size: 12px;
        padding: 8px 0 4px;
        line-height: 1.3;
    }

    .marketplaces-flash .featured-inner h3 {
        line-height: 24px;
    }

    .gift-card-banner {
        padding: 20px 0;
    }

    .gift-card-slider{
        padding-top: 20px;
    }

    .featured.gift-cards.all-gift-cards {
        padding: 20px 0 30px;
    }

    span.text-discount {
        padding: 2px 4px;
        font-size: 10px;
    }

    .gift-cards-details .banner-thumb {
        border-radius: 15px;
        margin-bottom: 20px;
    }

    .gift-cards-details .gift-card-design .rating p{
        font-size: 12px;
        padding-left: 8px;
    }

    .gift-cards-details .gift-card-design .rating img {
        max-width: 18px;
    }

    .gift-cards-details h5 {
        font-size: 17px;
        margin-bottom: 6px;
    }

    .gift-cards-details .gift-card-design p.design span,
    .gift-cards-details .gift-card-design p.design {
        font-size: 14px;
    }

    .thumbnail-img.active {
        border: 1px solid #268DE7;
        border-radius: 10px;
        padding: 4px;
    }

    .thumbnail-img {
        padding: 4px;
    }

    .thumbnail-img img {
        border-radius: 8px;
    }

    .gift-cards-details .gift-description {
        margin-top: 15px;
    }

    .gift-cards-details .terms {
        padding-top: 0;
    }

    .gift-cards-details h6 {
        margin: 0 0 14px;
    }    

    .gift-cards-details .gray-btn{
        flex-wrap: wrap;
        padding: 12px 0;
    }

    .box-bg {
        font-size: 12px;
        padding: 12px 10px;
        margin-top: 10px;
    }

    .gift-cards-details .gray-btn .btn-custom {
        width: auto;
        font-size: 14px;
        border-width: 2px;
    }

    .featured .featured-inner .col-5 .position-relative{
        min-height: 80px;
    }

    .featured .featured-inner .col-4 .position-relative{
        min-height: 60px;
    }

    .owl-carousel-TopDeals .top-deals-img{
        min-height: 180px;
    }

    .advertise-join{
        background-image: none;
        padding: 50px 0;
    }

    .advertise-about{
        padding: 50px 0;
    }

    .advertise-about img{
        padding-bottom: 25px;
    }

    .how-it-works .how-it-works-inner,
    .how-it-works .how-it-works-bottom img{
        max-width: 550px;
        margin: 0 auto;
    }

    .company-details .form-heading-margin{
        margin-bottom: 30px;
        font-size: 28px;
    }

    .company-details .form-heading-margin p{
        font-size: 14px;
    }

    .custom-upload-file{
        padding: 25px 10px;
    }

    .custom-upload-file button{
        padding: 6px 10px;
    }

    .how-it-works{
        padding-top: 60px;
    }

    .company-details h2.heading,
    .how-it-works h2.heading {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .how-it-works .how-it-works-bottom {
        margin-top: 30px;
    }

    .company-details {
        padding: 60px 15px;
    }

    .select2-container--default .select2-selection--multiple{
        border-radius: 6px;
        padding: 10px 18px;
    }

    .select2-results__option{
        padding: 6px 18px;
    }

    .iti__selected-flag{
        padding-left: 18px;
    }

    .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple{
        border-radius: 6px;
        padding:6px 18px;
    }

    .select2-container--default.select2-container--focus .select2-selection--multiple{
        padding:12px 18px;
    }

    .select2-container--default .select2-selection--single{
        height: 42px;
    }


    footer.footer .footer-inner .logo img {
        max-width: 100px;
    }

    footer.footer .newsletter p, footer.footer .newsletter h2 {
        margin-bottom: 15px;
    }

    footer.footer .newsletter .form-control{
        padding: 10px 20px;
    }

    footer.footer .newsletter .btn-custom {
        padding: 10px 15px;
    }

    footer.footer .newsletter{
        margin-bottom: 25px;
    }

    footer.footer .footer-inner{
        padding: 25px 0;
    }

    footer.footer .copyright {
        padding-top: 30px;
    }

    footer.footer h3{
        margin-bottom: 15px;
    }

    .owl-theme .owl-nav button {
        width: 30px;
        height: 30px;
    }

    .owl-theme .owl-nav .owl-prev,
    .owl-theme .owl-nav .owl-next{
        left: -10px;
    }

    .owl-theme .owl-nav .owl-next{
        right: -10px;
        left: auto;
    }


}

@media (max-width: 575.98px) {
    .dropdown_profile_custom .dropdown-menu.show{
        min-width: 310px;
    }

    .dropdown_profile_custom h2.user-name{
        font-size: 18px;
        padding: 15px 10px;
    }

    .dropdown_profile_custom .cashback-card {
        margin: 0 10px;
    }

    .dropdown_profile_custom .dropdown-item {
        padding: 8px 10px;
    }

    .card-amount p{
        font-size: 12px;
    }

    .header .top-header .search-bar{
        max-width: 100px;
    }

    .featured .featured-inner .col-md-5 .position-relative,
    .featured .featured-inner .position-relative{
        min-height: 80px;
    }

    .featured .featured-inner .col-4 .position-relative{
        min-height: 70px;
    }
}
