body{
    font-family: 'Poppins';
    font-size: 16px;
    color: #333333;
    line-height: normal;
    font-weight: 400;
    background: #FAFAFA;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1420px;
}

a{
    color: #666666;
    text-decoration:none
}

a:hover{
    transition: 0.3s all;
    color: #268DE7;
}

.btn-text{
    color: #268DE7;
    border-radius: 0;
}

.btn-text svg{
    fill: #268DE7;
}

.btn-text:hover svg{
    fill: #333333;
}

.btn-primary{
    background: #268DE7;
    border: 1px solid #268DE7;
    color: #fff;
}

.dropdown_profile_custom .dropdown-toggle.show,
.btn-primary:hover{
    background: #fff;
    color: #268DE7;
}

.btn-white{
    background: #fff;
    border: 1px solid #fff;
    color: #268DE7;
}

.btn-white:hover{
    background: #268DE7;
    color: #fff;
    border: 1px solid #268DE7;
}

.btn-outline-primary{
    border: 1px solid #268DE7;
    color: #268DE7;
}

.btn-outline-primary:hover{
    background: #268DE7;
    border: 1px solid #268DE7;
}

.btn-custom{
    padding: 12px 35px;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    border-radius: 50px;
}

.btn-dollor{
    padding: 12px 15px;
}


.dropdown_profile_custom .dropdown-toggle.show svg.user-icon path,
.btn-dollor:hover svg.user-icon path{
    fill: #268DE7;
    stroke:#268DE7;
}

.dropdown_profile_custom .dropdown-toggle.show svg.down-icon path,
.btn-dollor:hover svg.down-icon path{
    stroke:#268DE7;
}

.form-label{
    margin-bottom: 4px;
    color: #666666;
}

.form-control{
    font-size: 14px;
    color: #9A9EA6;
    transition: 0.3s all;
    border-color: rgb(102 102 102 / 35%);
    padding: 15px 24px;
    border-radius: 12px;
}

.form-control:focus{
    border: 1px solid #268DE7 !important;
}

.heading-section{
    margin: 0 auto 60px;
    max-width: 650px;
}

.badge.bg-primary{
    background: #268DE7;
    color: #fff;
    border-radius: 25px;
    font-weight: 500;
    font-size: 12px;
    padding: 5px 10px;
    line-height: normal;
}

.heading-section p{
    margin: 0;
}

h1{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 30px;
    color: #268DE7;
}

h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 1.18;
    margin-bottom: 16px;
    color: #268DE7;
}

h3{
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
    color: #268DE7;
}

h4{
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 16px;
    color: #268DE7;
}

h5 {
    color: #333333;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.5;
}



@font-face {
    font-family: 'Poppins';
    src: url('./font/Poppins-Regular.woff2') format('woff2'),
        url('./font/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./font/Poppins-Medium.woff2') format('woff2'),
        url('./font/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./font/Poppins-Light.woff2') format('woff2'),
        url('./font/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./font/Poppins-SemiBold.woff2') format('woff2'),
        url('./font/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./font/Poppins-ExtraBold.woff2') format('woff2'),
        url('./font/Poppins-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./font/Poppins-Bold.woff2') format('woff2'),
        url('./font/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Header CSS Start */
.header{
    background: #fff;
}
.header .top-header a.logo img {
    max-width: 150px;
}

.header .top-header .search-bar {
    max-width: 800px;
    margin-left: auto;
    width: 100%;
}

.header .top-header .search-bar .form-control{
    background: #F0F1F2;
    border: 0;
    border-radius: 50px;
    padding: 12px 25px 12px 48px;
}

.language-select{
    background-image: url(../image/down-icon.svg);
    background-position: center right;
    background-size: 16px;
    background-repeat: no-repeat;
    padding: 5px 20px 5px 5px;
}

.language-select:focus{
    border: 0 !important;
}

.header .navbar-header{
    border-top: 1px solid #DFDFE0;
    overflow-x: auto;
}

.header .navbar-header a.nav-link{
    color: #666666;
    padding: 20px 0;
    white-space: nowrap;
}

.header .navbar-header .btn-custom{
    white-space: nowrap;
}

.header .navbar-header a.nav-link:hover{
    transition: 0.3s all;
    color: #268DE7;
}

.header .dropdown-menu-custom{
    position: static;
}

.header .dropdown-menu-custom:hover svg{
    fill: #268DE7;
}

.header .dropdown-menu-custom:hover + .dropdown-menu-open,
.header .dropdown-menu-open:hover {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.header .dropdown-menu-open {
    top: 160px;
    left: 0;
    right: 0;
    padding: 25px 0;
    position: absolute;
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: all .3s ease-in;
    background: #fff;
    z-index: 10;
}


.owl-theme .owl-nav button {
    background: #268DE7 !important;
    color: #fff !important;
    border: none !important;
    width: 45px;
    height: 45px;
    margin: 0 !important;
    border-radius: 50% !important;
}

.owl-theme .owl-nav .owl-prev,
.owl-theme .owl-nav .owl-next{
    position: absolute;
    top: 55%;
    margin: 0;
    left: -23px;
}

.owl-theme .owl-nav .owl-next{
    right: -23px;
    left: auto;
}

.owl-carousel-TopDeals .owl-nav.disabled{
    display: block !important;
}

.dropdown_profile_custom .dropdown-toggle::after{
    display: none;
}

.dropdown_profile_custom .cashback-card{
    margin: 0 15px;
}

.dropdown_profile_custom h2.user-name {
    margin: 0;
    color: #333333;
    font-weight: 600;
    font-size: 24px;
    padding: 15px 15px;
}

.dropdown_profile_custom .dropdown-menu.show {
    min-width: 400px;
    box-shadow: 0 8px 20px 0 rgba(64, 72, 90, .239);
    border: 0;
    border-radius: 15px;
    padding: 0;
}

.dropdown_profile_custom .dropdown-menu.show .dropdown-height{
    height: 500px;
    overflow-y: auto;
}

.dropdown_profile_custom .dropdown-item{
    font-size: 14px;
    padding: 10px 15px;
}

.dropdown_profile_custom .dropdown-item:hover{
    background: #268DE7;
    color: #fff;
}


.dropdown_profile_custom .dropdown-menu.show .dropdown-height::-webkit-scrollbar {
    width: 8px;
}

.dropdown_profile_custom .dropdown-menu.show .dropdown-height::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.dropdown_profile_custom .dropdown-menu.show .dropdown-height::-webkit-scrollbar-thumb {
    background: rgba(38, 141, 231, 0.50);
}

.dropdown_profile_custom .dropdown-menu.show .dropdown-height::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.user-profile{
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.user-profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Header CSS End */

/* Banner Section CSS Start */
.banner{
    background: url(../image/bg-banner.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 25px;
    margin-bottom: 60px;
}

.banner-section{
    max-width: 635px;
    margin: 25px 0 50px;
}

.earn-while .owl-theme .owl-dots,
.banner .owl-theme .owl-dots {
    position: absolute;
    margin: 0 !important;
    bottom: 15px;
    width: 100%;
}

.earn-while .owl-theme .owl-dots .owl-dot.active span,
.banner .owl-theme .owl-dots .owl-dot.active span{
    background: #268DE7;
}

.earn-while .owl-theme .owl-dots .owl-dot span,
.banner .owl-theme .owl-dots .owl-dot span{
    background: #fff;
    margin: 0 3px;
}
/* Banner Section CSS End */

/* Featured Section CSS Start */
.featured{
    padding: 60px 0;
}

.featured.featured-travel{
    padding: 32px 0;
}

.featured .badge.bg-primary{
    margin: 12px 12px 0 0;
}

.featured.gift-cards{
    padding-bottom: 125px;
}

.owl-carousel-TopDeals .top-deals-img,
.featured .featured-inner .position-relative {
    min-height: 120px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    aspect-ratio: 2 / 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    border-radius: 0.75rem;
    /* border: 1px solid #efefef; */
    background: #fff;
    position: relative;
} 

.featured .featured-inner .col-4 .position-relative{
    min-height: 80px;
}

.owl-carousel-TopDeals .top-deals-img,
.featured .featured-inner .col-md-5 .position-relative {
    aspect-ratio: 3 / 2;
}

.owl-carousel-TopDeals .top-deals-img{
    min-height: 220px;
}

.owl-carousel-TopDeals .top-deals-img img,
.featured .featured-inner .position-relative img {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    object-position: center center;
    object-fit: contain;
}


.featured .featured-inner{
    margin-bottom: 24px;
    display: block;
}

.featured .featured-inner p{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    line-height: normal;
    margin-top: 14px;
}


.featured .featured-inner h3{
    margin: 0;
    line-height: 25px;
}

.featured .featured-inner p:last-child{
    color: #666666;
    font-size: 12px;
    margin: 0;
}

.featured .featured-inner img{
    width: 100%;
}

.last-des{
    font-size: 14px;
    font-weight: 300;
}
/* Featured Section CSS end */

/* Discover Section CSS Start */
.discover{
    padding: 60px 0 120px;
}

.discover .discover-img{
    border-radius: 20px;
}

.discover .discover-inner{
    margin-left: 40px;
}

.discover .discover-inner a{
    color: #268DE7;
}

.discover .badge.bg-primary{
    padding: 12px 24px;;
    font-size: 16px;
    align-self: flex-start;
}

.discover .discover-section{
    margin-bottom: 40px;
}
/* Discover Section CSS End */

/* Get Rewarded Section CSS Start */
.get-rewarded .banner-section{
    max-width: 100%;
}

.get-rewarded .banner-section h2{
    font-size: 55px;
    line-height: 1.3;
    margin-bottom: 30px;
}
/* Get Rewarded Section CSS End */

/* Join Now Section CSS Start */
.join-now .container{
    padding: 0 150px;
}

.join-now .join-now-inner{
    max-width: 600px;
}

.join-now .join-now-inner a{
    margin-top: 24px;
}
/* Join Now Section CSS End */

/* Get Money Section CSS Start */
.get-money .get-money-inner form a{
    margin-top: 30px;
}

.get-money .app-btn img{
    max-width: 174px;
}
/* Get Money Section CSS End */

/* Earn While Section CSS Start */
.earn-while .item{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0 50px;
}

.earn-while .banner-section{
    max-width: 535px;
}

.earn-while .banner-section h2{
    font-size: 80px;
    line-height: 1.2;
}

.earn-while .banner-section h3{
    font-size: 40px;
}

.earn-while .banner-section p{
    font-size: 12px;
    font-weight: 300;
    margin-top: 24px;
}
/* Earn While Section CSS End */

/* Feedback Section CSS Start */
.feedback{
    padding: 55px 0 20px;
}

.feedback .heading-section{
    margin-bottom: 40px;
}

.feedback .feedback-inner{
    background: #fff;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.10);
    border-radius: 30px;
    padding: 50px 50px 40px;
    margin: 30px 0;
}

.feedback .feedback-inner img{
    max-width: 35px;
}

.feedback .feedback-inner p{
    font-size: 14px;
    color: #666666;
}

.feedback .feedback-inner p.name{
    font-size: 12px;
    color: #333333;
    font-weight: 500;
    margin: 0 !important;
}
/* Feedback Section CSS End */

/* Unlock Instant Section CSS Start */
.unlock-instant{
    background: url(../image/unlock-Instant-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 70px 0;
}

.unlock-instant h2{
    font-size: 60px;
}
/* Unlock Instant Section CSS End */

/* Footer Section CSS Start */
footer.footer{
    background: #268DE7;
    padding: 50px 0;
}

footer.footer .newsletter{
    max-width: 634px;
    margin: 0 auto 50px;
}

footer.footer .newsletter p,
footer.footer .newsletter h2{
    margin-bottom: 40px;
}

footer.footer .newsletter .form-control{
    background: #96CBFA;
    border-color: #96CBFA;
    border-radius: 50px;
    padding: 16px 50px;
    color: #333333;
}

footer.footer .newsletter .form-control:focus{
    border-color: #fff !important;
}

footer.footer .newsletter .form-control::placeholder{
    color: #fff;
}

footer.footer .newsletter .btn-custom{
    padding: 16px 30px;
}

footer.footer .newsletter .btn-custom:hover{
    background: #fff;
    color: #268DE7;
    border-color: #fff;
}

footer.footer .footer-inner{
    border-top: 1px solid #6991F5;
    padding: 50px 0 0;
}

footer.footer .footer-inner .logo img{
    max-width: 150px;
}

footer.footer .footer-inner .logo{
    margin-bottom: 43px;
    display: inline-block;
}

footer.footer .footer-inner p{
    color: #fff;
}

footer.footer .first-footer p{
    margin-right: 30px;
}

footer.footer .first-footer ul{
    list-style: none;
}

footer.footer .first-footer ul a{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

footer.footer .copyright a:hover,
footer.footer .first-footer ul a:hover{
    color: rgba(255, 255, 255, 0.60);
}

footer.footer ul li,
footer.footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

footer.footer ul a{
    color: rgba(255, 255, 255, 0.60);
    transition: 0.3s all;
    margin-bottom: 5px;
    display: inline-block;
}

footer.footer ul a:hover{
    color: #fff;
}

footer.footer h3{
    color: #fff;
    margin-bottom: 25px;
}

footer.footer .copyright a{
    color: #fff;
}

footer.footer .copyright{
    padding-top: 75px;
}
/* Footer Section CSS End */

.shops-baner,
.banner-about,
.earn-while,
.banner{
    max-width: 1520px;
    margin-left: auto !important;
    margin-right: auto !important;
}


/* About Us Page CSS Start */
.about-us{
    padding: 64px 0 0;
}

.banner-about{
    background: url(../image/about-banner.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 250px 0 140px;
    border-radius: 50px;
}

.banner-about .about-heading{
    max-width: 500px;
    margin: 0 auto 0 0;
}

.banner-about .about-heading h2{
    font-size: 60px;
    margin-bottom: 40px;
}
/* About Us Page CSS End */

/* Timeline Section CSS Start */
.timeline-section{
    padding: 110px 0 80px;
}

.timeline-section .heading-section{
    margin-bottom: 30px;
}

.timeline .timeline-left,
.timeline .timeline-right{
    padding: 50px 0;
}

.timeline .timeline-date {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    position: relative;
    color: #268DE7;
}

.timeline .row.timeline-right .timeline-date{
    text-align: right;
    padding-right: 50px;
}

.timeline .row.timeline-left .timeline-date{
    text-align: left;
    padding-left: 50px;
}


.timeline .timeline-date::after {
    content: '';
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 12px;
    background: linear-gradient(0deg, rgba(38,141,231,1) 0%, rgba(58,164,255,1) 100%);
    border-radius: 50px;
    z-index: 1;
  }

  .timeline .row.timeline-left .timeline-date::after {
    left: -22px;
  }

  .timeline .row.timeline-right .timeline-date::after {
    right: -20px;
  }

  .timeline .timeline-right .timeline-box .timeline-text {
    position: relative;
    max-width: 580px;
    padding-left: 100px;
    text-align: left;
  }

  .timeline .timeline-left .timeline-box .timeline-text {
    position: relative;
    max-width: 580px;
    padding-right: 100px;
    text-align: right;
    margin: 0 0 0 auto;
  }

  .timeline .timeline-text h3 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 18px;
    color: #333333;
    line-height: 1.5;
}

.timeline .timeline-text p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    color: #666666;
}

.timeline .timeline-continue {
    position: relative;
    width: 100%;
    padding-top: 50px;
}

.timeline .timeline-continue::after {
    position: absolute;
    content: "";
    width: 1px;
    height: calc(100% - 80px);
    top: 0;
    left: 50%;
    margin-left: -1px;
    background: #268DE7;
}

.timeline .timeline-left:last-child, 
.timeline .timeline-right:last-child{
    padding-bottom: 0;
}

.timeline .timeline-box{
    position: relative;
}

.timeline .timeline-box:after {
    top: 20px;
    left: 5px;
}

.timeline .timeline-box::before {
    top: 16px;
    left: 65px;
}

.timeline .timeline-left .timeline-box:after {
    top: 20px;
    left: auto;
    right: 5px;
}

.timeline  .timeline-left .timeline-box::before {
    top: 16px;
    left: auto;
    right: 65px;
}

.timeline .timeline-left .timeline-box::after,
.timeline .timeline-right .timeline-box::after{
    position: absolute;
    content: '';
    width: 70px;
    height: 2px;
    background: #666666;
}

.timeline .timeline-left .timeline-box::before ,
.timeline .timeline-right .timeline-box::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background: #666666;
    border-radius: 20px;
}
/* Timeline Section CSS End */


/* Shops Baner Section CSS Start */
.shops-baner{
    padding: 65px 0;
}

.shops-baner p.fw-medium {
    font-weight: 500;
}

.shops-baner .btn-custom{
    margin: 32px 0 24px;
}

.shops-baner .small-text {
    font-size: 12px;
    color: #666666;
    font-weight: 300;
}

.shops-baner img{
    /* max-width: 900px; */
    border-radius: 13px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Shops Baner Section CSS End */

/* All Stores Page CSS Start */
.all-stores{
    padding-bottom: 92px;
}
.all-stores .search-bar input {
    max-width: 495px;
    margin-left: auto;
    border-radius: 50px;
    border-color: #268DE7;
    background: #FAFAFA;
    padding: 16px 32px;
}

.all-stores .search-bar input::placeholder{
    color: #268DE7;
}

.all-stores .search-bar input ~ button{
    margin-right: 32px;
}

.all-stores .shop-page{
    margin-top: 45px;
}

.all-stores .shop-list{
    list-style: none;
}

.all-stores .shop-list li{
    padding: 16px 0;
    border-bottom: 1px solid #666666;
}

.all-stores .shop-list li .active{
    font-weight: 700;
    color: #333333;
}

.all-stores .shop-list h6 {
    color: #3394E8;
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
}

.all-stores .featured .featured-inner h3{
    font-weight: 500;
}

.all-stores .featured .featured-inner {
    margin-bottom: 14px;
}

.all-stores .shop-page .col-md-9{
    padding-left: 50px;
}

.all-stores .filter-drop {
    width: 35px;
    height: 35px;
    border: 1px solid #268DE7;
    color: #268DE7;
    font-size: 15px;
    border-radius: 6px;
}

.all-stores .featured .featured-inner img{
    width: 100%;
}
/* All Stores Page CSS End */

/* Marketplaces Page CSS Start */
.marketplaces-banner{
    padding: 40px 0 57px;
}

.marketplaces-banner .market-row{
    background: #fff;
    padding: 20px;
    border-radius: 24px;
}

.marketplaces-banner .heading-section{
    padding: 0 10px 0 40px;
    margin-bottom: 0;
}

.marketplaces-banner h5{
    font-size: 24px;
    font-weight: 700;
}

.marketplaces-banner h1{
    color: #F6A317;
}

.marketplaces-banner h6{
    color: #F6A317;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.marketplaces-banner p.fw-medium{
    color: #666666;
    padding-top: 15px;
}

.marketplaces-banner .small-text{
    color: #333333;
}

.marketplaces-banner .btn-custom {
    margin: 16px 0 32px;
}

.marketplaces-flash h2{
    margin-bottom: 40px;
}

.marketplaces-flash .featured-inner p.title{
    margin-top: 12px;
    font-weight: 600;
}

.marketplaces-flash .featured-inner p.des {
    font-size: 14px;
    padding: 16px 0 4px;
    margin: 0;
}

.marketplaces-flash .featured-inner {
    margin-bottom: 34px;
}

.marketplaces-deals{
    padding: 6px 0 46px;
}

span.text-discount {
    background: rgb(38 141 231 / 10%);
    padding: 2px 6px;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
}
/* Marketplaces Page CSS End */

/* Gift Card Page CSS Start */
.gift-card-banner{
    padding: 40px 0;
}

.gift-card-slider{
    padding: 0 0 40px;
}

.gift-card-slider .discount {
    font-size: 18px;
    color: rgb(102 102 102 / 50%);
    font-weight: 500;
    vertical-align: middle;
}

.gift-card-slider .featured-inner {
    margin-bottom: 34px;
}

.popular-gift-cards h3{
    font-weight: 500;
}

.featured.gift-cards.all-gift-cards{
    padding: 40px 0 56px;
}
/* Gift Card Page CSS End */

/* Gift Cards Details Page CSS Start */
.gift-cards-details{
    padding: 80px 0 40px;
}

.gift-cards-details .banner-thumb{
    border-radius: 20px;
}

.gift-cards-details img{
    width: 100%;
}

.gift-cards-details .gift-description-details,
.gift-cards-details .gift-card-design{
    padding-left: 50px;
}

.gift-cards-details h2{
    font-weight: 600;
    margin: 0;
}

.gift-cards-details .gift-card-design p{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0;
    color: #000;
}

.gift-cards-details .gift-card-design .rating {
    border-bottom: 1px solid #000;
    padding: 20px 0 40px;
    margin-bottom: 40px;
}

.gift-cards-details .gift-card-design .rating img {
    max-width: 27px;
    margin-right: 4px;
}

.gift-cards-details .gift-card-design .rating p{
    font-size: 16px;
    color: #666666;
    font-weight: 500;
    padding-left: 10px;
}

.gift-cards-details .gift-card-design .rating p i{
    padding-right: 10px;
}

.gift-cards-details h5{
    color: #000;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
}

.gift-cards-details .gift-card-design p.design{
    font-size: 16px;
    font-weight: 700;
}

.gift-cards-details .gift-card-design p.design span{
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}

.gift-cards-details h6{
    margin: 0 0 24px;
    font-weight: 600;
    color: #333333;
}

.gift-cards-details .gift-description{
    margin-top: 50px;
}

.gift-cards-details .gift-description p{
    color: #666666;
}

.gift-cards-details .terms{
    padding-top: 24px;
}

.gift-cards-details .gift-description .terms p{
    font-size: 12px;
    line-height: 1.85;
}

.gift-cards-details .gray-btn{
    padding: 24px 0 20px;
}

.gift-cards-details .gray-btn .btn-custom {
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    color: rgb(102 102 102 / 50%);
    border: 3px solid rgb(102 102 102 / 50%);
    padding: 12px 25px;
}

.gift-cards-details .gray-btn .btn-custom.active,
.gift-cards-details .gray-btn .btn-custom:hover{
    border-color: #268DE7;
    color: #fff;
    background: #268DE7;
}

.gift-cards-details .submit-btn{
    margin-top: 37px;
}

.calender img{
    max-width: 17px;
    margin-right: 8px;
    vertical-align: middle;
    display: inline-block;
}

.thumbnail-img {
    margin: 22px 0 0;
    padding: 8px;
    cursor: pointer;
}

.thumbnail-img img {
    border-radius: 10px;
}

.thumbnail-img.active {
    border: 3px solid #268DE7;
    border-radius: 12px;
}

.box-bg {
    margin-top: 16px;
    background: rgba(102, 102, 102, 0.10);
    color: #333333;
    font-size: 18px;
    font-weight: 600;
    padding: 25px 60px;
    border-radius: 50px;
}

.box-bg.total-cashback{
    background: rgba(38, 141, 231, 0.10);
    color: #3394E8;
}

.box-bg.total-cashback span span{
    color: rgba(51, 51, 51, 0.50);
    font-weight: 400;
}
/* Gift Cards Details Page CSS End */

/* Pagination CSS Start */
.pagination{
    padding-top: 100px;
}

.pagination .page-link {
    padding: 0;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    color: #666666;
    border: 0;
    background: transparent;
    font-size: 18px;
    font-weight: 400;
}

.pagination a.page-link:hover {
    color: #268DE7;
}

.pagination .page-link.active{
    color: #268DE7;
}

.pagination .page-link.pagination-btn{
    color: #268DE7;
    border-radius: 100%;
    border: 1PX solid #268DE7;
}

.pagination .page-link.pagination-btn:hover{
    color: #fff;
    background: #268DE7;
}

.pagination .page-link:focus{
    box-shadow: none;
}
/* Pagination CSS End */



